extends home

block contents
    div(class="row-fluid")
       div(class="span3")  .  
       div(class="span6") 
          h1 About Written World
          p Written World is a communal free-form text world, overlaid on a street map of the user's physical location. 
          p It incorporates elements of online chat and graffiti to explore and create a bridge between the physical and virtual.
          p More info here soon
          h1 Frequently Asked Questions (FAQs)

          h3 You put me in the wrong place. Why?
          p HTML5 geolocation is an experimental feature. It doesn't work perfectly. Try restarting your browser. 
          
        div(class="span3") .
