extends home

block contents
    div(class="row-fluid")
       div(class="span3")  .  
       div(class="span6") 
          h2 About Written World
          p Written World is a communal free-form text world, overlaid on a street map of the user's physical location. 
          p It incorporates elements of online chat and graffiti to explore and create a bridge between the physical and virtual.
          p More info here soon
          hr 
          h2 Frequently Asked Questions (FAQs)

          h4 You put me in the wrong place. Why?
          p HTML5 geolocation is an experimental feature. It doesn't work perfectly. Try restarting your browser. 
          h4 Why can't I write sometimes? And what's all this "echo" business?
          p The idea behind echos and when you can or can't write is based on the now ubiquituous idea of upvoting and downvoting content.
          p In short, echoes are analogous to upvotes, and overwriting is analogous to downvotes. You can't echo a character you've written or already echoed, and you can't overwrite a character you've already overwritten. 
          hr
          h2 Acknowledgements and Attribution
          p All Map data (c) 
            a(href="http://www.openstreetmap.org/") OpenStreetMap 
            | contributors, CC-BY-SA. 
            | Tiles created using Mapnik, and a bunch of other tools. Clientside map is based on Leaflet.
          p A large conceptual debt is owed to Andrew Badr for Your World of Text
        div(class="span3") .
