!!! 5
html(lang="en")
  head
    title= title 
    link(rel="stylesheet", href="/css/leaflet.css")

    link(rel="stylesheet", href="/css/bootstrap.css")
    
    script
      currentWorldId="#{worldId}";
    script(src="/js/libs/async.min.js")
    script(src="/js/libs/jquery-1.7.js")
    script(src="/js/libs/bootstrap-dropdown.js")
    script(src="/js/libs/bootstrap-collapse.js")
    script(src="/js/libs/bootstrap-modal.js")
    script(src="/js/libs/bootstrap-transition.js")
    script(src="/js/libs/bootstrap-alert.js")
    script(src="/js/libs/dotimeout.js")
    script(src="/js/leaflet-src.js")
    //script(src="/js/layer.js")
    script(src="/js/old/layer.js")
    script(src="/js/world.js")
      
    script(src="/nowjs/now.js")
    
    style(id="dynamicStyles")

body
  include include/header.jade
  div(id="messages") 
  div(id="map")
  div(id="inputWrap")
    input(id="input", type="text")
 
  include include/modals.jade
