extends home

block contents
  div(class="row-fluid")
    div(class="span3")  .  
    div(class="span6") 
      h2 Register
      - if ('undefined' !== typeof errors && errors.length)
        ul#errors
          - each error in errors
            li.error= error
      form(action='/register', method='POST')
          p Sign up and get: echoes, a private world + history, more color options, notifications, and more crap like that.
          .well 
            label User name
            input.span6(type='text', name='login')
            span.help-inline Your public name on Mapist
            label Password 
            input.span6(type='password', name='password') 
            span.help-inline Shhhh, it's a secret
            label Email 
             i (Optional) 
            input.span6(type='email', name='email') 
            span.help-inline Optional. We hate spam too. 
            div
              input.button.btn.btn-primary(type="submit") Sign up!
              a.btn(href='/', data-dismiss='modal') Nevermind 
            //input(type='submit') Register
    div(class="span3") .
