extends home

block contents
    div(class="row-fluid")
       div(class="span3")  .  
       div(class="span6") 
         table
          for thing in things
            tr
              td=thing.t
              td=thing.contents
              td=thing.date
            tr
              td
                br
        div(class="span3") .
