/* @import url(http://fonts.googleapis.com/css?family=Terminal+Dosis:400,200,600,800); */
#map {
  /* font-family: courier, san-serif; */

  font-family: monospace;
  /* font-family: 'Terminal Dosis', sans-serif; */

  line-height: normal;
}
#input {
  margin-left: -1000px;
  position: absolute;
}
.debug {
  color: lightgreen;
  background: rgba(0, 0, 0, 0.5);
}
.debugTile {
  -webkit-box-shadow: 1px 1px 1px black;
}
.cell.otherSelected {
  background-color: red;
}
div.leaflet-tile {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  /* background: rgba(0,250, 0, 0.3); */

  /*border-right: 1px solid red;*/

  /* overflow: hidden; */

}
div.leaflet-tile span {
  text-align: center;
  float: left;
  display: block;
  font-weight: 400;
  /* overflow: hidden; */

  /* background: rgba(0,250, 0, 0.3); */

  /* font-size: 8px; */

}
div.leaflet-tile span.selected {
  background-color: white;
  color: red;
}
div.leaflet-tile-drawn {
  /* background: rgba(0,250, 0, 0.3); */

}
div.leaflet-tile-loaded {
  /* background: rgba(255, 0, 0, 0.3); */

}
.navbar-fixed-top {
  position: fixed !important;
}
