
link(rel='stylesheet', href="/css/bootstrap.css")

.modal.fade.hide#colorModal
  .modal-header
      a.close(data-dismiss='modal') ×
      h3 Pick A Color 
    .modal-body.colorOption
      p Any color. As long as it's one of these. Want more colors? Get some echoes.
      each val in availableColors
        a.btn.btn-large.btn-inverse.trigger(class=val, data-payload=val, data-type='color', data-action='set', data-dismiss='modal') Color 
    .modal-footer
      a.btn(href='#', data-dismiss='modal') Close

form.modal.fade.hide#registerModal(action="/register", method="POST")
  .modal-header
      a.close(data-dismiss='modal') ×
      h3 Get an Account 
    .modal-body
      p Sign up and get: echoes, a private world + history, more color options, notifications, and more crap like that.
      .well 
        label User name
        input.span4(type='text', name='login')
        span.help-inline Your public name on Written World
        label Password 
        input.span4(type='password', name='password') 
        span.help-inline Shhhh, it's a secret
        label Email 
         i (Optional) 
        input.span4(type='email', name='email') 
        span.help-inline Optional. We hate spam too. 
    .modal-footer
      button.btn.btn-primary(type="submit") Sign up!
      a.btn(href='#', data-dismiss='modal') Nevermind 

form.modal.fade.hide#locationSearch
  .modal-header
      a.close(data-dismiss='modal') ×
      h3 Find a Place 
    .modal-body
      p Where would you like to go?
      -if (!everyauth.loggedIn)
        p You can only jump 50km at once. With an account, you can jump up to way more. 
      .well 
        input.span5#locationSearchInput
      p Hint: Include the state, in the US, or country if outside the US.
    .modal-footer
      button.btn.btn-primary(type="submit") Go!
      a.btn(href='#', data-dismiss='modal') Nevermind 

form.modal.fade.hide#loginModal(action="/login", method="POST")
  .modal-header
      a.close(data-dismiss='modal') ×
      h3 Log In
    .modal-body
      .well 
        label User name
        input.span4(type='text', name='login')
        label Password 
        input.span4(type='password', name='password') 
    .modal-footer
      button.btn.btn-primary(type="submit") Sign in!
      a.btn(href='#', data-dismiss='modal') Nevermind 


div.modal.fade.hide#feedbackModal
  .modal-header
      a.close(data-dismiss='modal') ×
      h3 What do you think? 
    .modal-body
      .well 
        textarea#feedback.span5(name='feedback', placeholder='Write your comment or suggestion here...') 
        select#t
          option Type of Feedback
          option Bug Report
          option Feature Idea
          option Just Saying Hi
          option Other 
    .modal-footer
      button.btn.btn-primary.trigger(data-type='submitfeedback') Submit!
      a.btn(href='#', data-dismiss='modal') Nevermind 



