
// link(rel='stylesheet', href="/css/bootstrap.css")

form.modal.hide#linkModal
  .modal-header
      a.close(data-dismiss='modal') ×
      h3 Add a Link 
  .modal-body
      p Put the url of your link below.
      input#linkurl.span5(type='text', name='linkurl', value="http://")
      p Then, the next character you write will be a link. 
  .modal-footer
      button.btn.btn-primary(type="submit") Link!
      a.btn(href='#', data-dismiss='modal') Na


form.modal.hide#registerModal(action="/register", method="POST")
  .modal-header
      a.close(data-dismiss='modal') ×
      h3 Get an Account 
  .modal-body
      p Sign up and get: echoes, a private world + history, more color options, notifications, and more crap like that.
      .well 
        label User name
        input.span4(type='text', name='login')
        span.help-inline Public 
        label Password 
        input.span4(type='password', name='password') 
        span.help-inline Shhhh, it's a secret
        label Email 
        input.span4(type='email', name='email') 
        span.help-inline We hate spam too. 
        br
        h3 Or Use:
        br
        #twitter-login(style='float: left; margin-left: 5px')
          a(href='/auth/twitter', style='border: 0px')
            img(style='border: 0px', src='/css/images/twitter_64.png')
        #fb-login(style='float: left; margin-left: 5px')
           a(href='/auth/facebook', style='border: 0px')
            img(style='border: 0px', src='/css/images/facebook_64.png')
        p <b>Won't tweet/post from your account </b>, won't  even load your friends or whatever. Purely for convenience. 
  .modal-footer
      button.btn.btn-primary(type="submit") Sign up!
      a.btn(href='#', data-dismiss='modal') Nevermind 

form.modal.hide#locationSearch
  .modal-header
      a.close(data-dismiss='modal') ×
      h3 Find a Place 
  .modal-body
      p Where would you like to go?
      -if (!everyauth.loggedIn)
        p You can only jump 50km at once. With an account, you can jump way more. 
      .well 
        input.span5#locationSearchInput
      p Hint: Include the state, in the US, or country if outside the US.
  .modal-footer
      button.btn.btn-primary(type="submit") Go!
      a.btn(href='#', data-dismiss='modal') Nevermind 

form.modal.hide#loginModal(action="/login", method="POST")
  .modal-header
      a.close(data-dismiss='modal') ×
      h3 Log In
  .modal-body
      .well 
        label User name
        input.span4(type='text', name='login')
        label Password 
        input.span4(type='password', name='password') 
  .modal-footer
      button.btn.btn-primary(type="submit") Sign in!
      a.btn(href='#', data-dismiss='modal') Nevermind 


div.modal.hide#feedbackModal
  .modal-header
      a.close(data-dismiss='modal') ×
      h3 What do you think? 
  .modal-body
      .well 
        textarea#feedback.span5(name='feedback', placeholder='Write your comment or suggestion here...') 
        select#t
          option Type of Feedback
          option Bug Report
          option Feature Idea
          option Just Saying Hi
          option Other 
  .modal-footer
      button.btn.btn-primary.trigger(data-type='submitfeedback') Submit!
      a.btn(href='#', data-dismiss='modal') Nevermind 

// not a modal
  -if (!everyauth.loggedIn)
    div.alert.alert-block.major#welcome.fade.in
      a.close(data-dismiss="alert", href="#") x
      h4.alert-heading Write on a map. It'll be fun.
      p The glowing cursor is waiting for you to type. You can move around with the keyboard arrows, by dragging the map, zooming out, or searching for an address.
      p
        a(href="#registerModal", data-toggle="modal") Sign up for an account
        |, and get your own private history world, more colors, notifications, and the ability to go further afield. For more info, check out the <a href="/about"> FAQ</a>.
        
