

.navbar a.brand
{
  font-size: 15px;
  padding: 10px 20px 12px;
  //font-family: fixed;
  //color: @grayDark !important;
  // text-shadow: 1px 1px 5px @black;
}

//for the zoom controls
 //.leaflet-left*/ //except now i'm using my own so
//.leaflet-control-zoom
.leaflet-top
{
  margin-top: @navbarHeight;
  //padding: 8px;
}

a i.icon-search
{
  .opacity(50); 
}

a:hover i.icon-search
{
  .opacity(100) !important;
} 

a.direction-dropdown
{

  .opacity(50); 
}
a.direction-dropdown:hover
{
  .opacity(100) !important;
}

#username
{
  text-transform: capitalize;
  color: @linkColor !important;
}

#navToAuth
{
  width: 9em;
  margin-left: 1em;
  text-align: center;
  #gradient > .vertical(lighten(@black, 18%),lighten(@black, 10%));
  .box-shadow(-2px 1px 3px rgba(0,0,0,.25));
  .border-radius(0px 0px 0px 15px);
  margin-right: -20px;
}

#messages
{
  position: absolute;
  margin-top: @navbarHeight;
  padding-top: 10px; 
  z-index: 10;
  width: 100%;  
}

#loadingIndicator
{
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0px;
  z-index: 10;
  .progress
  {
    .border-radius(0px) !important;
    height: 50px;
  }
  .bar
  {
    height: 50px;
    width: 100%;
    color: @grayDark;
    padding-top: 15px;
    font-size: 2em;
  }
}

#errorIndicator
{
  #loadingIndicator;
  display: none;
}

.alert
{
  width: 20%;
  left: 74%;
  position: absolute;
}

.alert.major
{
  position: absolute;
  width: 86%;
  left: 7%;
  .alert-heading
  {
    font-size: 140%;
    margin-bottom: 5px;
  } 
}

//signup modal
.modal-body .help-inline
{
  color: @grayLight;
}


a.colorOptions
{
  text-transform: capitalize;
  .btn;
  .btn-large;
  .gradientBar(@grayDark, @grayDarker);
  margin-right: 1em;
  width: 10%;
  font-weight: bold;
  text-shadow: none; 
  cursor: pointer;

  &:hover
  {
      cursor: pointer;
      .box-shadow( 0px 0px 5px black);
  }
}


#feedbackAndAbout
{
  position: absolute;
  z-index: 100;
  bottom: 0px;
  right: 0px;
  font-size: 1.2em;
  /*#translucent > .background(@black, .5);*/
  a {
    color: @red;
    margin-left: 10px;
    margin-right: 5px;
    #translucent > .background(@white, .5);
    cursor: pointer;  
    padding: 5px; 
  }
  a:hover
  {
    #translucent > .background(@white, 1);
  }


}

a#color
{
     -webkit-animation: coloryt 15s infinite !important;
     -moz-animation: coloryt 15s infinite !important;
  &:hover
  { 
     -moz-animation: none  !important;
     -webkit-animation: none !important; 
    color: white !important;
  }
}



@-webkit-keyframes coloryt {
        0%    { color: #ff0000; }
        20%   { color: #dd01da; }
        40%   { color: #051ae5; }
        60%   { color: #018a45; }
        80%   { color: #ce8e04; }  /*927502*/
        100%  { color: #ff0000; }
}


@-moz-keyframes coloryt {
        0%    { color: #ff0000; }
        20%   { color: #dd01da; }
        40%   { color: #051ae5; }
        60%   { color: #018a45; }
        80%   { color: #ce8e04; }  /*927502*/
        100%  { color: #ff0000; }
}
